.accessibility-wrapper {
  padding: 64px;
  box-sizing: border-box;
  text-align: left;
  font-size: 15px;
  font-family: 'Calibre', sans;
  line-height: 25px;
  letter-spacing: 1px;
  overflow: scroll;
}

@media screen and (max-width: 734px) {
  .accessibility-wrapper {
    padding: 16px;
  }
}

.font-size {
  font-size: 15px;
}

.photo-row {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100px;
  align-items: center;
}

.photo-row-image {
  height: 100%;
  width: 50px;
  margin: 25px 12.5px;
}

.photo-row-image:first-child {
  margin-left: 0;
}

.audioeye-badge,
.experience-image {
  width: 50%;
  margin-bottom: 12px;
}

@media screen and (min-width: 734px) {
  .audioeye-badge,
  .experience-image {
    width: 15%;
    margin-bottom: 25px;
  }
}

.icon-row {
  display: flex;
  flex-direction: row;
}

.icon {
  width: 15%;
  margin-right: 5%;
}
@media screen and (min-width: 734px) {
  .icon {
    width: 5%;
    margin-right: 5%;
  }
}

.tall-margin {
  margin: 2.5% 0;
}

.accessibility-link {
  color: #a1c6cf;
}
