.App {
  text-align: center;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: flex-start;
}

main {
  flex: 1;
  width: auto;
  height: 100%;
  overflow-x: hidden;
  padding-top: 80px;
  position: relative;
  z-index: 10;
}

@media (min-width: 1024px) {
  main {
    padding-top: 0;
  }
}

.carousel-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.carousel-page .App-carousel,
.carousel-page .App-intro {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: auto;  
}