.App {
  text-align: center;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: flex-start;
}

main {
  flex: 1;
  width: auto;
  height: 100%;
  overflow-x: hidden;
}

section {
  position: relative;
  z-index: 10;
  padding-top: 80px;
}

@media (min-width: 1024px) {
  section {
    padding-top: 0;
  }
}