.App {
  text-align: center;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: flex-start;
}

main {
  flex: 1;
  width: auto;
  height: 100%;
  overflow-x: hidden;
}

section {
  position: relative;
  z-index: 10;
  padding-top: 80px;
}

@media (min-width: 1024px) {
  section {
    padding-top: 0;
  }
}

.building-page,
.residences-page,
.crown-collection-page,
.amenities-page,
.tribeca-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.building-page .App-carousel,
.building-page .App-intro,
.residences-page .App-carousel,
.residences-page .App-intro
.crown-collection-page .App-carousel,
.crown-collection-page .App-intro
.amenities-page .App-carousel,
.amenities-page .App-intro
.tribeca-page .App-carousel,
.tribeca-page .App-intro {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: auto;  
}