.arrow-down-scroll {
  padding: 0.5em;
  display: none;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  transition: opacity 300ms ease-in-out;
  opacity: 1;
}
.arrow-down-scroll.hide {
  opacity: 0;
}

.availability-page {
  padding: 18px;
  position: relative;
}
.filter-button-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  position: fixed;
  top: 80px;
  left: 18px;
  width: 100%;
  background-color: #FFF;
  z-index: 800;
}
.filter-button-wrapper button {
  margin-top: 18px;
}
.filter-button-wrapper button:first-child {
  margin-right: 5px;
}

.list-wrapper {
  padding-top: 44px;
}

@media (min-width:1024px) {
  .arrow-down-scroll {
    display: block;
  }
  .availability-page {
    padding: 32px;
  }
  .filter-button-wrapper {
    top: 0;
    left: 0;
  }
  .filter-button-wrapper button {
    margin-top: 93px;
  }
  .filter-button-wrapper button:first-child {
    margin-left: 32px;
  }
  .list-wrapper {
    padding-top: 133px;
  }
}

@media (min-width:1366px) {
  .filter-button-wrapper {
    position: absolute;
  }
  .filter-button-wrapper button {
    margin-top: 32px;
  }
  .list-wrapper {
    padding-top: 50px;
  }
}