*:focus {
  outline: none;
}

.form-page {
  padding: 18px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.form-page-message {
  height: calc(100vh - 137px);
}

.form-page .link {
  padding: 20px 0 5px 0;
}
.form-page .link:last-child {
  padding: 5px 0 0 0;
}
@media (min-width: 768px) and (max-width: 1366px) and (orientation: landscape)  and (-webkit-min-device-pixel-ratio: 1.5) {
  .form-page .link:last-child {
    padding-bottom: 32px;
  }
}

.form-chosen {
  max-width: 240px;
  margin: 0 auto;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  padding-top: 30px;
}
.form-chosen.message {
  max-width: 340px;
}

.form-chosen-res {
  white-space: nowrap;
}

@media (min-width: 768px) {
  .form-page {
    height: calc(100vh - 36px - 106px * 2);
  }
}
@media (min-width: 1024px) {
  .form-page, .form-page-message {
    padding: 32px;
    height: calc(100vh - 64px);
  }
}
@media (min-width: 1920px) {
  .form-chosen {
    max-width: 375px;
  }
  .form-chosen.message {
    max-width: 475px;
  }
}

/** ~~~~ General form styling ~~~~ */
.form-wrapper {
  width: 100%;
}

.contact-form-wrapper {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}
.contact-form-wrapper .velocity-error-wrapper {
  width: 100%;
}

form, .error-wrapper {
  min-width: 100%;
  max-width: 385px;
  margin: 0 auto;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.error-wrapper {
  max-width: calc(375px + (28px*2)); 
}

label.form-section {
  padding-top: 38px;
  padding-bottom: 11px;
}

.input-wrapper {
  width: 100%;
  position: relative;
}
input:not([type="submit"]) {
  height: 44px;
  text-align: center;
  font-family: 'Caecilia LT Std', serif;
	font-weight: bold;
	letter-spacing: 2px;
	line-height: 20px;
	font-size: 11px;
  color: #000;
  border: 0;
  border-radius: 0;
  border-bottom: 1px solid #A1C6CF;

  background-color: transparent;
  box-shadow: none;
  border-radius: 0;
  padding: 0;
  margin: 0;
  width: 100%;
}
.half-wrapper {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
  position: relative;
}
input.whole {
  width: 100%;
}
input.half{
  width: 50%;
  margin: 0; padding: 0;
}
input.error-underline,
.select-field.error-underline,
.radio-fieldset.error-underline {
  border-bottom: 2px solid #55809e;
} 

input:not([type="submit"]):focus {
  border-bottom: 1px solid #55809e;
}

input.half:first-child,
.Select.half:first-child {
  border-right: 1px solid #A1C6CF;
}

input[type="submit"] {
  margin: 52px auto;
  border-radius: 0;
  display: inline-block;
}

/** custom Select plguin styles */
.select-wrapper,
.textselect-wrapper,
.select-field-wrapper {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  border-right: 1px solid #A1C6CF;
}
.textselect-wrapper {
  border: none;
}
.select-field-wrapper {
  border: none;
  border-bottom: 1px solid #A1C6CF;
}
input.select-field {
  border: 0;
  width: 100%;
  /* min-width: 150px; */
  /* background-image: url('../assets/down_arrow_small.svg');
  background-repeat: no-repeat;
  background-size: 15px;
  background-position: 95% center;
  padding-right: 25px; */
}
input.hear-field.select-field {
  /* min-width: 240px; */
}
input.hear-field.select-field.no-padding {
  padding-right: 0;
  min-width: 0;
}
input.select-field:focus {
  border: 0;
}
input.select-field:hover,
input.select-field:active {
  cursor: pointer;
  border: 0;
}

.select-wrapper input {
  /* background-image: url('../assets/down_arrow_small.svg');
  background-repeat: no-repeat;
  background-size: 15px;
  background-position: 95% center;
  padding-right: 25px; */
}
.select-wrapper button:hover, 
.select-wrapper button:active,
.menu-item:hover,
.menu-item:active {
  cursor: pointer;
} 
.menu {
  position: absolute;
  width: 50%;
  left: 0;
  padding: 9px 0;
  background-color: #FFF;
  border: 1px solid #A1C6CF;
  border-top: 0;
  z-index: 100;
  max-height: 166px;
  overflow-y: auto;
}
.menu.full {
  width: 100%;
  border-top: 1px solid #55809e;
  margin-top: -1px;
}
.menu-item {
  padding: 9px 18px;
  font-size: 12px;
}


/** radio styles */
.radio-fieldset {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  height: auto;
  min-height: 3rem;
  border-bottom: 1px solid #A1C6CF;
  width: 100%;
  padding: 10px 0;
}
.radio-field {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
}
.radio-fieldset .radio-field:first-child,
.radio-label + .radio-field {
  padding-right: 18px;
}

.radio-field .checkbox {
  padding: 0;
  padding-right: 18px;
}
.radio-label.input.serif {
  line-height: 44px;
  display: block;
  width: 100%;
}
.input.serif,
.radio-field .serif {
  font-weight: bold;
  letter-spacing: 2px;
  line-height: 12px;
  font-size: 11px;
}
.radio-field .serif {
  margin-top: 2px;
}

/** input placeholder styles */
.black-ph::-webkit-input-placeholder {
  color: #000;
  opacity: 1;
}
.black-ph:focus::-webkit-input-placeholder {
  color: #000;
  opacity: 0.25;
}

.black-ph::-moz-placeholder {  /* Firefox 19+ */
  color: #000;
  opacity: 1;  
}
.black-ph:focus::-moz-input-placeholder {
  color: #000;
  opacity: 0.25;
}

.black-ph:-ms-input-placeholder {  
  color: #000;
  opacity: 1;  
}
.black-ph:focus::-ms-input-placeholder {
  color: #000;
  opacity: 0.25;
}

/** error styles */
.error-wrapper {
  padding-top: 32px;
}
.error-wrapper .error {
  background-color: #94B1C5;
  color: #000;
  width: 100%;
  padding: 8px 0;
  font-size: 12px;
}

/** media queries */
@media (min-width: 400px) {
  .radio-field .checkbox {
    padding: 0;
  }
}
@media (min-width: 768px) {
  .radio-fieldset {
    height: 44px;
    min-height: 0;
  }
  .radio-fieldset .radio-field:first-child,
  .radio-label + .radio-field {
    padding-bottom: 0;
  }
  .radio-label.input.serif {
    display: inline;
    width: auto;
    padding-right: 18px;
  }
  form, .error-wrapper {
    min-width: 385px;
  }
}

@media (min-width: 1024px) {
  .contact-form-wrapper {
    height: 100%;
  }
  .radio-fieldset {
    padding: 10px 0;
  }
}