.share-page {
  padding: 18px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.share-chosen {
  max-width: 240px;
  margin: 0 auto;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  padding-top: 30px;
}

.share-chosen-res {
  white-space: nowrap;
}

@media (min-width: 768px) {
  .share-page {
    height: calc(100vh - 36px - 106px * 2);
  }
}
@media (min-width: 1024px) {
  .share-page {
    padding: 32px;
    height: calc(100vh - 64px);
  }
}
@media (min-width: 1920px) {
  .share-chosen {
    max-width: 375px;
  }
}

/** ~~~~ General form styling ~~~~ */
.form-wrapper {
  width: 100%;
}

form {
  max-width: 375px;
  margin: 0 auto;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
}

label.form-section {
  padding-top: 38px;
  padding-bottom: 11px;
}

input:not([type="submit"]) {
  height: 44px;
  text-align: center;
  font-family: 'Caecilia LT Std', serif;
	font-weight: bold;
	letter-spacing: 2px;
	line-height: 20px;
	font-size: 11px;
  color: #000;
  border: 0;
  border-bottom: 1px solid #A1C6CF;

  background-color: transparent;
  box-shadow: none;
  border-radius: 0;
  padding: 0 28px; margin: 0;
  width: 100%;
}
.half-wrapper {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  padding: 0 28px;
}
input.whole {
  width: calc(100% - 56px);
}
input.half {
  width: 50%;
}

input:not([type="submit"]):focus {
  border-bottom: 1px solid #55809e;
}

input.half:first-child {
  border-right: 1px solid #A1C6CF;
  padding-right: 28px;
}
input.half:nth-child(2) {
  padding-left: 28px;
}

input[type="submit"] {
  margin-top: 52px;
}

.black-ph::-webkit-input-placeholder {
  color: #000;
  opacity: 1;
}
.black-ph:focus::-webkit-input-placeholder {
  color: #000;
  opacity: 0.25;
}

.black-ph::-moz-placeholder {  /* Firefox 19+ */
  color: #000;
  opacity: 1;  
}
.black-ph:focus::-moz-input-placeholder {
  color: #000;
  opacity: 0.25;
}

.black-ph:-ms-input-placeholder {  
  color: #000;
  opacity: 1;  
}
.black-ph:focus::-ms-input-placeholder {
  color: #000;
  opacity: 0.25;
}

@media(max-width: 374px) {
  input:not([type="submit"]) {
    padding: 0 8px;
  }
  input.whole {
    width: calc(100% - 16px);
  }
  input.half:first-child {
    padding-right: 8px;
  }
  input.half:nth-child(2) {
    padding-left: 8px;
  }
  .half-wrapper {
    padding: 0 8px;
  }
}
@media(min-width: 768px) {
  .half-wrapper {
    width: calc(100% + 56px);
  }
  input.whole {
    width: 100%;
  }
}