.filter {
  position: relative;
  z-index: 900;
}

.margin {
  margin-left: 0px;
}

.floating-filter {
  position: fixed;
  top: calc(92px + 25px + 44px);
  left: 18px;
  padding: 18px;
  background-color: #FFF;
  border: 1px solid #000;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

.floating-filter.show {
  transform: translateY(0);
  opacity: 1;
  transition: transform 0ms linear, opacity 250ms ease-in 10ms;
}
.floating-filter.hide {
  transform: translateY(-1000%);
  opacity: 0;
  transition: opacity 250ms ease-out, transform 0ms ease-in 301ms;
}

.floating-filter-checkbox-wrapper {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  padding: 9px 0;
}
.floating-filter-item {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: 0 9px;
}
.floating-filter-item .checkbox {
  padding-right: 3px;
}
.floating-filter-item span {
  text-transform: uppercase;
  white-space: nowrap;
}

@media (min-width: 480px) and (max-width: 767px) and (orientation: landscape) {
  .floating-filter {
    position: fixed;
    top: 92px;
    padding: 5px;
  }
  .floating-filter-checkbox-wrapper {
    padding: 0;
  }
}

.header-filter,
.header-filter.list-row {
  display: none;
}
.filter-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  box-shadow: none;
  border: none;
  border-radius: 0;
  background-color: transparent;
}
.filter-row:hover,
.filter-row:active {
  background-color: transparent;
  cursor: pointer;
}

.up {
  transform: scaleY(-1);
}


@media (min-width: 1024px) {
  .margin {
    margin-left: -25px;
  }

  .floating-filter {
    left: 32px;
  }
  .header-filter,
  .header-filter.list-row {
    padding: 30px 0;
    display: flex;
    border-bottom: 1px solid #A1C6CF; 
  } 
  .filter-row.list-item {
    border: none;
  }
  .floorplan-space-keeper.list-cell {
    margin: 0;
    width: 10rem;
    height: 44px;
  }
}

@media (min-width: 1366px) {
  .margin {
    margin-left: 20px;
  }
  .more-margin {
    margin-left: 50px;
  }
  .header-filter,
  .header-filter.list-row {
    padding: 0;
  } 
  .floating-filter {
    position: absolute;
    left: 0; top: 0;
  }
  .floorplan-space-keeper.list-cell {
    width: 15%;
  }
}

@media (min-width: 1440px) {
  .margin-centering {
    margin-left: -20px;
    margin-right: 20px;
  }
}
@media (min-width: 1920px) {
  .margin-centering {
    margin-left: -40px;
    margin-right: 40px;
  }
  .floorplan-space-keeper.list-cell {
    width: 10%;
  }
}
/* @media (min-width: 2048px) {
  .floorplan-space-keeper.list-cell {
    width: 26rem;
  }
} */