.floorplan-wrapper img {
  max-width: 100%;
  max-height: 100%;
  width: 100%;
  height: auto;
}

.floorplan-overlay {
  position: fixed;
  left: 0;
  top: 91px;
  border-top: none;
  width: calc(100% - 18px - 18px);
  height: calc(100% - 18px - 18px - 91px);
  padding: 18px; padding-bottom: 36px;
  background: #FFF;
  z-index: 9999;
  overflow: auto;
}

@media (min-width: 1024px) {
  .floorplan-overlay {
    top: 0;
    width: calc(100% - 18px - 18px);
    height: calc(100% - 18px - 18px);
  }
}
.close-btn {
  display: block;
  background: transparent;
  box-shadow: none;
  border: none;
  position: absolute;
  right: 0;
  top: 0;
  padding: 18px;
}
.download-btn.button.sans-light-bold {
  position: absolute;
  right: 65px;
  top: 0;
  margin-top: 18px;
  min-height: 25px;
  padding: 0;
  line-height: 24px;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 12px;
  padding: 1px 10px; 
  padding-top: 5px;
  display: block;
  width: 6rem;
  height: auto;
  background-color: transparent;
  color: #000;
  border: 1px solid #a1c6cf;
}
.download-btn.button.sans-light-bold:hover,
.download-btn.button.sans-light-bold:active {
  background-color: #a1c6cf;
}

@media (min-width: 1366px) {
  .floorplan-overlay {
    padding: 0;
    left: calc(225px + 18px + 18px);
    width: calc(100% - 225px - 18px - 18px);
    height: 100vh;
  }
}


.floorplan-overlay .floorplan-content {
  height: auto;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: 60px; margin-bottom: 120px;
}
.floorplan-sidebar {
  width: 100%;
  padding: 18px 0;
  padding-bottom: 36px;
  height: 40%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.floorplan-sidebar .floorplan-info .floorplan-title {
  font-size: 18px;
  border-bottom: 1px solid #a1c6cf; 
  white-space: nowrap;
}

.floorplan-sidebar .floorplan-info.floorplan-footer {
  padding-bottom: 0;
  position: absolute;
  bottom: 0; left: 0;
}
.floorplan-sidebar .floorplan-info.floorplan-footer p {
  margin: 0;
}

@media (min-width: 1024px) {
  .floorplan-overlay .floorplan-content {
    flex-flow: row nowrap;
    margin-bottom: 0;
  }
  .floorplan-sidebar {
    width: 15%;
    padding: 0 40px;
    height: calc(100vh - 18px - 18px - 60px);
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
  }
  .floorplan-sidebar .floorplan-info {
    padding-bottom: 10rem;
  }
  .floorplan-sidebar .floorplan-info.floorplan-footer p {
    padding: 0;
    font-size: 8px;
  }
}

.floorplan-sidebar .floorplan-info .serif {
  font-size: 10px;
  padding: 5px 0;
  white-space: nowrap;
  line-height: normal;
  text-transform: uppercase;
}
.floorplan-sidebar .floorplan-info .floorplan-bedrooms {
  padding-top: 30px;
}
.floorplan-sidebar .floorplan-keys {
  width: 100%;
  padding-left: 5px;
  padding-right: 0;
}
@media (max-width: 1023px) {
  .floorplan-sidebar {
    border-top: 1px solid #a1c6cf;
  }
  .floorplan-sidebar .floorplan-info .floorplan-bedrooms {
    padding-top: 5px;
  }
  .floorplan-sidebar .floorplan-info .floorplan-title {
    position: absolute;
    top: 1.5rem;
    border: 0;
  }
}
@media (min-width: 480px) and (max-width: 1024px) {
  .floorplan-sidebar .floorplan-keys {
    width: auto; height: 40%;
    padding: 0 18px;
  } 
}
.floorplan-sidebar .floorplan-keys img {
  width: 90%;
  height: auto;
  max-width: 100%;
  max-height: 100%;
}

.floorplan-wrapper {
  width: 100%;
}

@media (min-width: 1024px) {
  .floorplan-sidebar .floorplan-info .serif {
    padding: 8px 0;
  }
  .floorplan-sidebar .floorplan-keys {
    padding: 0;
  }
  .floorplan-wrapper {
    width: 75%;
    height: calc(100vh - 18px - 18px - 60px);
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    margin-left: 0;
    margin-right: 50px;
  }
}

@media (min-width: 1366px) {
  .floorplan-sidebar .floorplan-info.floorplan-footer {
    left: 32px;
  }
}

@media (min-width: 1440px) {
  .floorplan-sidebar {
    height: calc(100vh - 18px - 18px - 180px);
    margin-top: 60px;
  }
  .floorplan-sidebar .floorplan-info .floorplan-title {
    font-size: 22px;
  }
  
  .floorplan-sidebar .floorplan-info .serif {
    font-size: 12px;
  }
  .floorplan-wrapper {
    height: calc(100vh - 18px - 18px - 180px);
    margin-top: 60px;
  }
  .close-btn {
    padding: 36px;
  }
  .download-btn.button.sans-light-bold {
    right: 100px;
    margin-top: 32px;
  }
}

@media (min-width: 1920px) {
  .floorplan-sidebar .floorplan-info.floorplan-footer p {
    font-size: 10px;
  }
}


/* ~~~ Floorplan Plugin Styles ~~~ */
@media print {
  .dbxd-floorplan-layout {
    display: none !important;  /* hide whole page */
  }
  .dbxd-no-print {
    display: block !important;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.dbxd-no-print {
  display: none;
}

.dbxd-optional-title {
  background-color: transparent;
  z-index: 900;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  font-size: larger;
  font-weight: bold;
}

/* Toggle Sections */
.dbxd-floorplan-layout {
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
  position: relative;
}
.dbxd-floorplan-layout-expand {
  position: fixed;
  top: 50%;
  right: 32px;
  transform: translateY(-50%);
  z-index: 9001;
  background-color: #fff;
  flex-flow: row nowrap;
  
  height: calc(100vh - 64px);
}
@media (min-width: 1024px) {
  .dbxd-floorplan-layout {
    flex-flow: row nowrap;
  }
  .dbxd-floorplan-layout-expand {
    width: calc(100% - 64px);
  }
}
@media (min-width: 1366px) {
  .dbxd-floorplan-layout-expand {
    width: calc(100% - 14rem - 96px);
  }
}

.dbxd-radio-wrapper input:radio {
  visibility: hidden;
  margin-right: 2em;
}
.dbxd-radio-menu {
  width: auto;
  position: absolute;
  margin: 0.5em 1em;
  top: 0; left: 0 ;
  background-color: #fff;
}
.dbxd-radio-wrapper {
  width: auto;
  margin: 0.5em 1em;
  background-color: #fff;
  position: relative;
}

.dbxd-radio-wrapper label {
  cursor: pointer;
  position: absolute;
  width: 21px;
  height: 21px;
  border-radius: 21px;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  background: #eee;
  border: 1px solid #000;
}
.dbxd-radio-info {
  font-size: 120%;
  vertical-align: sub;
  margin-left: 1em;
}

.dbxd-floorplan-wrapper {
  width: 100%;
  height: auto;
}
.dbxd-floorplan-wrapper span {
  width: 100%; height: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}

.dbxd-radio-label:after {
  opacity: 0;
	content: '';
	position: absolute;
	width: 9px;
	height: 5px;
	background: transparent;
	top: 6px;
	left: 5px;
	border: 3px solid #000;
	border-top: none;
	border-right: none;
	transform: rotate(-45deg);
}

.dbxd-radio-label:hover::after {
	opacity: 0.1;
}

.dbxd-radio-wrapper input[type=radio]:checked + .dbxd-radio-label:after {
	opacity: 1;
}

.dbxd-floorplan-wrapper {
  height: auto; width: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}

.dbxd-floorplan {
  width:100%; height: 100%;
  position: relative;
  background-repeat: no-repeat;
  background-size: contain; 
  background-position: center center;
}

.desktop-fp {
  display: none;
}
.mobile-fp {
  display: block;
}
.dbxd-floorplan-wrapper {
  height: calc(100% - 2rem);
  width: calc(100% - 2rem);
  padding: 1rem;
  border: 1px solid #D9D9D9;
}
@media (min-width: 1366px) {
  .desktop-fp {
    display: block;
  }
  .mobile-fp {
    display: none;
  }
}

.dbxd-floorplan.furn {
  display: block;
}

.dbxd-floorplan.no-furn {
  display: none;
}

@media (min-width: 1024px) {
  .dbxd-floorplan {
    cursor: -webkit-zoom-in;
    cursor: -moz-zoom-in;
    cursor: zoom-in;
  }
  .dbxd-floorplan.dbxd-zoom {
    cursor: -webkit-zoom-out;
    cursor: -moz-zoom-out;
    cursor: zoom-out;
  }
}

.dbxd-tutorial-wrapper {
  display: none;
}

.dbxd-tutorial-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 75%;
  height: 75%;
  background: hsla(0,0%,100%,.9);
  border: 1px solid #a1c6cf;
}
@media (min-width: 1024px) {
  .dbxd-tutorial-wrapper {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items:  center;
  }
  .dbxd-tutorial-wrapper.show {
    z-index: 900;
    opacity: 1;
    transition: z-index 0ms linear, opacity 300ms ease-in 100ms;
  }
  .dbxd-tutorial-wrapper.hide {
    z-index: -100;
    opacity: 0;
    transition: opacity 300ms ease-out, z-index 0ms linear 301ms;
  }
}

.dbxd-tutorial-wrapper .dbxd-close {
  cursor: pointer;
  position: absolute;
  top: 1em; right: 1em;
  background-color: transparent;
  padding: 0;
  margin: 0.5em;
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  background-color: transparent;
  box-shadow: none;
  border: none;
}
.dbxd-tutorial-wrapper .dbxd-close:focus,
.dbxd-tutorial-wrapper .dbxd-close:active {
  outline: 0;
}

.dbxd-tutorial-wrapper .dbxd-tutorial-list {
  color: #fff;
  font-size: 150%;
  line-height: normal;
  text-align: center;
  padding: 18px;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

.dbxd-tutorial-wrapper .dbxd-tutorial-list .dbxd-feat {
  margin: 1em 0;
  color: #a1c6cf;
  font-family: Calibre,sans;
  font-weight: 600;
  font-size: 17px;
  letter-spacing: 1px;
  text-transform: uppercase;
  max-width: 100%;
}

.dbxd-copyright {
  display: block;
  text-decoration: none;
  position: absolute;
  bottom: -2em;
  right: 5px;
  margin-bottom: 5px;
  font-size: 12px;
}
.dbxd-copyright a {
  display: block;
  text-decoration: none;
  color: #000;
}

.dbxd-instructions-icon {
  position: absolute;
  left: 0;
  bottom: 0;
  display: none;
  padding: 0;
  margin: 0.5em;
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  background-color: transparent;
  box-shadow: none;
  border: none;
}

.dbxd-icon-wrapper {
  position: absolute;
  left: 0;
  bottom: -2em;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-align: center;
  align-items: center;
}

@media(min-width: 1024px) {
  .dbxd-copyright {
    bottom: 0;
  }
  .dbxd-instructions-icon {
    display: block;
  }
  .dbxd-icon-wrapper {
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
  }
}

.dbxd-print, .dbxd-download, .dbxd-expand, .dbxd-minimize {
  padding: 0;
  margin: 0.5em;
  text-decoration: none;
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  background-color: transparent;
  box-shadow: none;
  border: none;
}

.dbxd-expand {
  display: none;
}
.dbxd-expand img {
  display: none;
}
.dbxd-expand .current {
  display: block;
}
@media (min-width: 1024px) {
  .dbxd-expand {
    display: block;
  }
}

.dbxd-print:hover, .dbxd-download:hover, .dbxd-expand:hover, .dbxd-minimize:hover, .dbxd-instructions-icon:hover {
  opacity: 0.65;
  cursor: pointer;
}
a:active, a:focus,
button:active, button:focus {
  outline: 0;
}

.dbxd-pdf-title {
  display: none;
  text-align: center;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 900;
}
@media (min-width: 1024px) {
  .dbxd-pdf-title {
    display: block;
    width: 100%;
  }
}