.header {
  width: 100%;
  position: fixed;
  top: 0; left: 0;
  background-color: #FFF;
  z-index: 900;
}
@media (min-width: 1366px) {
  .header {
    width: auto;
    position: relative;
    transform: translate3d(0, 0, 0);
  }
}
.mobile-header {
  position: relative;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  top: 0; left: 0;
  width: 100%;
  height: auto;
  background-color: transparent;
  z-index: 901;
  opacity: 1;
}
.mobile-header .navigation-titles {
  width: 100%;
  background: #fff;
}
.mobile-header .navigation-titles .title {
  margin: 0;
  padding-top: 20px;
}
.mobile-header .navigation-titles .title img {
  max-width: 100%;
}

.mobile-header .navigation-titles .sub-title {
  margin: 0;
  padding-top: 15px;
  padding-bottom: 10px;
  font-size: 0.9rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #A1C6CF;
}
@media (min-width: 1024px) {
  .mobile-header .navigation-titles .title, 
  .mobile-header .navigation-titles .sub-title {
    display: none;
  }
}
/** animating hamburger nav for mobile */
.ham-nav-button {
  position: fixed;
  top: 0; left: 0;
  cursor: pointer;
  background: transparent;
  box-shadow: none;
  border: none;
  z-index: 910;
  padding: 0;
  margin: 0;
  opacity: 1;
}
/* .ham-nav-button.off {
  opacity: 0å;
  display: none;
} */
@media (min-width: 1024px) {
  .ham-nav-button {
    left: 12px;
    position: absolute;
  }
}

.ham-nav {
  width: 20px;
  height: 20px;
  margin: 20px;
  transform: rotate(0deg);
  transition: .5s ease-in-out;
}
.ham-nav span {
  display: block;
  position: absolute;
  height: 3px;
  width: 100%;
  background-color: #000;
  border-radius: 0px;
  opacity: 1;
  left: 0;
  transform: rotate(0deg);
  transition: .25s ease-in-out;
}
@media (min-width: 1024px) {
  .ham-nav span {
    background-color: #979797;
  }
}
.ham-nav span:nth-child(1) {
  top: 0px;
}

.ham-nav span:nth-child(2),.ham-nav span:nth-child(3) {
  top: 6px;
}

.ham-nav span:nth-child(4) {
  top: 12px;
}

.ham-nav.open span:nth-child(1) {
  top: 10px;
  width: 0%;
  left: 50%;
}

.ham-nav.open span:nth-child(2) {
  transform: rotate(45deg);
}

.ham-nav.open span:nth-child(3) {
  transform: rotate(-45deg);
}

.ham-nav.open span:nth-child(4) {
  top: 10px;
  width: 0%;
  left: 50%;
}
@media (min-width: 1366px) {
  .ham-nav {
    display: none;
  }
}
/** animating hamburger nav for mobile */
.app-header {
  border-right: none;
  background-color: rgba(255, 255, 255, 0.99);
  padding: 32px; 
  color: white;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: center;
  position: relative;
  height: calc(100vh - 64px);
  width: calc(100% - 64px);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 905;
  transform: translateX(-100%);
  transition: transform 500ms ease-in-out, opacity 1s ease-in-out;
  overflow-y: auto;
}

.app-header.open {
  transform: translateX(0);
}
@media (min-width: 480px) and (max-width: 768px) and (orientation: landscape) {
  .app-header {
    height: (100vh - 64px);
  }
}
@media (min-width: 1024px) {
  .app-header {
    width: 12em;
    overflow: hidden;
  }
}
@media (min-width: 1366px) {
  .app-header {
    height: calc(100vh - 64px);
    position: relative;
    top: unset;
    left: unset;
    padding: 0;
    margin: 32px; 
    margin-right: 0;
    padding-right: 32px;
    border-right: 1px solid #A1C6CF;
    transform: translateX(0);
  }
}

.app-header h2 {
  font-size: 1.3em;
}

.app-logo {
  height: 8.5em;
  width: auto;
  padding: 20px;
  padding-top: 0;
  position: relative;
  z-index: 100;
}
nav {
  position: relative;
  z-index: 100;
}
.nav-list {
  position: relative;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  padding: 0; margin: 0;
}

.nav-anchor-wrapper {
  list-style: none;
  width: auto;
  padding: 10px 0;
}

.nav-anchor {
  color: #000;
  text-decoration: none;
}
.nav-anchor:hover {
  font-weight: 500;
}
.nav-anchor:active,
.nav-anchor.active {
  font-weight: bold;
}

@media (min-width: 1024px) {
  .nav-anchor {
    color: rgba(0,0,0, 0.5);
  } 
  .nav-anchor:hover {
    color: rgba(0,0,0, 0.7);
  } 
  .nav-anchor:active,
  .nav-anchor.active {
    color: rgba(0,0,0,1);
  }
}

.nav-subnav {
  display: none;
  list-style: none;
  margin: 0; padding: 0;
}

.nav-anchor.active + .nav-subnav  li {
  height: 1.5em;
  opacity: 1;
  padding-top: 0.5em;
}
@media(min-width: 1024px) {
  .nav-subnav {
    display: block;
  } 
}
@media(min-width: 1366px) {
  .nav-anchor.active + .nav-subnav  li:first-child {
    padding-top: 0.5em;
  } 
  .nav-anchor.active + .nav-subnav  li:not(:first-child) {
    padding-top: 0;
  } 
}
.nav-subnav  li {
  height: 0;
  opacity: 0;
  margin: 0;
  padding: 0;
  transition: height 200ms ease-in-out, opacity 200ms ease-in-out;
  color: #000;
  cursor: pointer;
}
.nav-subnav  li:hover {
  font-weight: 500;
}
.nav-subnav  li.active {
  font-weight: 600;
}

@media (min-width: 1024px) {
  .nav-subnav li,
  .nav-subnav li:active,
  .nav-subnav li.active {
    color: rgba(0,0,0, 0.75);
  }
}

.footer {
  display: block;
  padding: 20px;
  padding-bottom: 45px;
  width: 100%;
  position: relative;
  z-index: 100;
}
.footer-pages {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.footer-pages .nav-anchor {
  padding: 0 10px;
}
.footer-pages a:hover {
  font-weight: 600;
}
.footer-pages .nav-anchor.active {
  font-weight: 900;
}
@media (min-width: 480px) and (max-width: 768px) and (orientation: landscape) {
  .footer {
    padding-bottom: 20px;
  }
}
@media (min-width: 480px) {
  .footer {
    padding-bottom: 20px;
  }
  .footer-pages {
    width: 70%;
    margin: 0 auto; 
  }
}
@media (min-width: 1024px) {
  .footer-pages {
    width: 100%;
  }
  .footer-pages .sans-medium {
    font-weight: 300;
    color: rgba(0,0,0, 0.75);
  }
}
@media (min-width: 1366px) {
  .footer {
    padding-bottom: 0;
  }
}
/* iPad pro */
@media (min-width: 1366px) and (orientation: landscape)  and (-webkit-min-device-pixel-ratio: 1.5) {
  .footer {
    padding-bottom: 20px;
  }
}
.brochure {
  margin: 0 auto;
  padding-top: 20px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}
.brochure img {
  margin-top: -4px;
  margin-right: 4px;
}