.home-wrapper {
  width: calc(100% - 18px - 18px);
  height: calc(100vh - 18px - 18px - 155px);
  margin-top: -50px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
  padding: 18px;
  position: relative;
}

@media (max-width: 1023px) {
  .home {
    height: 100vh;
  }
}

.home-wrapper .next-button {
  padding-bottom: 0;
  display: block;
}
.home-wrapper .next-button span,
.home-wrapper .next-button img {
  padding-top: 18px;
  display: inline;
  vertical-align: baseline;
}

.home-wrapper .image-wrapper {
  position: relative;
  width: 100%; height: 100%;
}

@media (min-width: 480px) and (max-width: 767px) and (orientation: landscape) {
  .home-wrapper {
    height: calc(100vh - 18px - 18px);
  }
  .home-wrapper .image-wrapper {
    width: 100%; height: auto;
  }
}

.home-wrapper .image-wrapper img {
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 100%;
}

/* .home-wrapper .image-wrapper .caption-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  width: calc(100% - 64px);
  height: calc(100% - 64px);
  padding: 32px;
  min-width: 300px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  z-index: 900;
  background-color: rgba(255, 255, 255, 0.7);
}

.home-wrapper .image-wrapper .caption-wrapper.fadedOut {
  opacity: 0!important;
  transition: opacity 300ms ease-in;
}
.home-wrapper .image-wrapper .caption-wrapper.fadedIn {
  opacity: 1!important;
  transition: opacity 300ms ease-in;
}

.home-wrapper .image-wrapper .caption-wrapper .h1 {
    width: 80%;
    z-index: 100;
    font-size: 1rem;
    margin: 39px 0;
    margin-top: 0;
    text-transform: uppercase;
}
.home-wrapper .image-wrapper .caption-wrapper .p h1,
.home-wrapper .image-wrapper .caption-wrapper .p h2  {
  margin: 0;
}
.home-wrapper .image-wrapper .caption-wrapper .p h1 {
  margin-bottom: 20px; 
}
.home-wrapper .image-wrapper .caption-wrapper .p {
  margin: 0 auto;
  text-align: left;
}
@media (min-width: 768px) {
  .home-wrapper .image-wrapper .caption-wrapper .p {
    max-width: 380px;
  }
} */

@media (min-width: 768px) {
  .home-wrapper {
    height: calc(100vh - 18px - 18px - 120px);
  }
}
@media (min-width: 1024px) {
  .home-wrapper {
    flex-flow: row nowrap;
    justify-content: center;
    padding: 0;
    width: 100%;
    height: 100vh;
  }
  .home-wrapper .image-wrapper {
    background-image: none;
    width: auto; height: auto;
    background-image: none!important;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
  }
  .home-wrapper .image-wrapper img {
    display: inline;
    width: auto;
    height: 100%;
    max-width: none;
    max-height: 100%;
  }
  /* .home-wrapper .image-wrapper .caption-wrapper {
    width: 45%;
    height: 100%;
    padding-top: 0;
  }
  
  .home-wrapper .image-wrapper .caption-wrapper .p {
    max-width: 380px;
  } */
}
/* @media (min-width: 1366px) {
  .home-wrapper .image-wrapper .caption-wrapper .p {
    max-width: 425px;
  }
}
@media (min-width: 1920px) {
  .home-wrapper .image-wrapper .caption-wrapper .h1 {
    font-size: 1.5rem;
  }
} */

@media (orientation: landscape) and (max-width: 767px) {
  .home-wrapper .image-wrapper img {
    width: 100%;
    height: auto;
    max-width: 100%;
    max-height: none;
  }
}

@media (min-width: 1024px) {
  .home-wrapper {
    margin-top: 0;
    padding: 32px;
    width: calc(100% - 32px - 32px);
    height: calc(100vh - 52px - 32px);
  }
  .home-wrapper .image-wrapper {
    height: calc(100% - 64px);
  }
  .home-wrapper .image-wrapper img {
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
  }
}

@media (min-width: 1366px) {
  .home-wrapper {
    padding: 32px;
    height: calc(100vh - 32px - 32px);
  }
  .home-wrapper .image-wrapper {
    height: auto;
  }
  .home-wrapper .image-wrapper img {
    max-height: calc(100vh - 64px - 48px);
  }
}

@media (min-width: 1366px) and (orientation: landscape)  and (-webkit-min-device-pixel-ratio: 1.5) {
  .home-wrapper .image-wrapper {
    height: calc(100% - 64px);
  }
}

/* INTRO ANIMATION */
.animation-wrapper {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0; left: 0;
  z-index: 1000;
}
.animation-wrapper .slide {
  -webkit-transform:translate3d(0,0,0);
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: absolute;
  top: 0; left: 0;
}

.animation-wrapper .slide.text-slide {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  padding: 20px;
  width: calc(100% - 40px);
  height: calc(100% - 40px);
}


.animation-wrapper .slide.text-slide .text-slide-wrapper {
  width: 100%; height: 100%;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex; 
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}

.animation-wrapper .slide.text-slide .text-slide-wrapper img {
  height: auto;
  width: 100%;
  max-width: calc(100% - 40px);
}

@media (min-width: 1024px) {
  .animation-wrapper .slide.text-slide .text-slide-wrapper img {
    width: 70%;
    max-width: 70%;
  }
}
@media (min-width: 1366px) {
  .animation-wrapper .slide.text-slide .text-slide-wrapper img {
    width: 55%;
    max-width: 55%;
  }
}

.animation-wrapper .slide.text-slide .bg {
  width: 100%;
  height: 100vh;
  background-color: #FFF;
  position: absolute;
  top: 0; left: 0;
  z-index: 800;
}

/* .home-wrapper .image-wrapper .caption-wrapper.desktop-caption-wrapper {
  display: none;
}
.home-wrapper .caption-wrapper.mobile-caption-wrapper {
  display: flex;
  padding-top: 36px;
  position: relative;
  width: 100%;
  height: auto;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  z-index: 900;
}
.home-wrapper .caption-wrapper.mobile-caption-wrapper .p .serif {
  text-align: left;
} */
.mobile-goto {
  display: block;
  position: relative;
  padding-top: 36px;
}
.mobile-goto img {
  margin-left: 10px;
}
/* @media (min-width: 768px) {
  .home-wrapper .caption-wrapper.mobile-caption-wrapper {
    width: 300px;
  }
} */
@media (min-width: 1024px) {
  /* .home-wrapper .image-wrapper .caption-wrapper.desktop-caption-wrapper {
    display: flex;
  }
  .home-wrapper .caption-wrapper.mobile-caption-wrapper {
    display: none;
  }  */
  .mobile-goto, .next-button.mobile-goto {
    display: none;
  }
}

.home-wrapper .image-wrapper img.home-desktop {
  display: none;
}
.home-wrapper .image-wrapper img.home-mobile {
  display: inline;
}

@media (min-width: 1024px) {
  .home-wrapper .image-wrapper img.home-desktop {
    display: inline;
  }
  .home-wrapper .image-wrapper img.home-mobile {
    display: none;
  } 
}

.home-wrapper .next-button,
.mobile-goto {
  padding-right: 0;
  margin-right: -21px;
}