@keyframes slideDown {
  0% {
    margin-top: -100px;
  }
  100% {
    margin-top: -50px;
  }
}

@keyframes shrinkDown {
  0% {
    width: 100vw;
    height: 100vh;
    margin-top: 0;
    margin-left: 0;
  }
  100% {
    margin-top: 52px;
    margin-left: 32px;
    width: calc(100vw - 32px - 32px);
    height: calc(100vh - 52px - 32px);
  }
}

.home-wrapper {
  background-image: url('/images/1_landing/DBOX_108LEONARD_Ad_Facade_HOMEPAGE.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  height: 100vh;
  animation: slideDown 1s cubic-bezier(0.390, 0.575, 0.565, 1.000) forwards;
  animation-delay: 1.15s;
  margin-top: -100px;
}

@media (min-width: 1024px) {
  .home-wrapper {
    margin-top: 0;
    animation: shrinkDown 1s cubic-bezier(0.390, 0.575, 0.565, 1.000) forwards;
    animation-delay: 1.15s;
  }
}

@media (min-width: 1366px) {
  @keyframes shrinkDown {
    0% {
      width: 100vw;
      height: 100vh;
    }
    100% {
      width: calc(100vw - 64px);
      height: calc(100vh - 64px);
    }
  }
}

@media (min-width: 1366px) {
  @keyframes shrinkDown {
    0% {
      width: 100vw;
      height: 100vh;
    }
    100% {
      margin-top: 32px;
      margin-left: 32px;
      width: calc(100vw - 64px - 32px - 225px);
      height: calc(100vh - 64px);
    }
  }
  .home-wrapper {
    margin-top: 0;
    animation: shrinkDown 0.8s cubic-bezier(0.390, 0.575, 0.565, 1.000) forwards;
    animation-delay: 1.9s;
  }
}