.home-wrapper {
  width: 100%;
  height: 100vh;
  margin-top: -50px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}

.home-wrapper img {
  width: auto;
  height: 100%;
  max-width: none;
  max-height: 100%;
}

@media (orientation: landscape) and (max-width: 767px) {
  .home-wrapper img {
    width: 100%;
    height: auto;
    max-width: 100%;
    max-height: none;
  }
}

@media (min-width: 1024px) {
  .home-wrapper {
    margin-top: 0;
    padding: 52px 32px 32px 32px;
    width: calc(100% - 32px - 32px);
    height: calc(100vh - 52px - 32px);
  }

  .home-wrapper img {
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
  }
}

@media (min-width: 1366px) {
  .home-wrapper {
    padding: 32px;
    height: calc(100vh - 32px - 32px);
  }
  .home-wrapper img {
    max-height: calc(100vh - 64px - 48px);
  }
}

/* INTRO ANIMATION */
.animation-wrapper {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0; left: 0;
  z-index: 1000;
}
.animation-wrapper .slide {
  -webkit-transform:translate3d(0,0,0);
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: absolute;
  top: 0; left: 0;
}
.animation-wrapper .slide:not(.slide.text-slide) {
  display: none;
}

.animation-wrapper .slide.text-slide {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  padding: 20px;
  width: calc(100% - 40px);
  height: calc(100% - 40px);
}
.animation-wrapper .slide.text-slide img {
  width: 100%;
  height: auto;
  position: relative;
  z-index: 900;
}

@media (min-width: 1024px) {
  .animation-wrapper .slide.text-slide img {
    width: 70%;
  }
}
@media (min-width: 1366px) {
  .animation-wrapper .slide.text-slide img {
    width: 55%;
  }
}

.animation-wrapper .slide.text-slide .bg {
  width: 100%;
  height: 100%;
  background-color: #FFF;
  position: absolute;
  top: 0; left: 0;
  z-index: 800;
}