@media (min-width: 1024px) {
  .list {
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    height: calc(100vh - 300px - 32px);
  }
}
@media (min-width: 1366px) {
  .list {
    overflow-y: auto;
    height: calc(100vh - 220px - 32px);
  }
}