.hide-for-mobile {
  display: none;
}

.floorplan-button {
  height: 35px;
  padding: 13px 5px 5px 5px;
}
@media (min-width: 1024px) {
  .floorplan-button {
    height: 44px;
    padding: 15px 10px 10px 10px;
  }
}
.floorplan-button.list-cell {
  align-items: center;
}

.list-row .list-row-wrapper {
  padding: 30px 0;
  border-bottom: 2px solid #DADADA;
  margin-bottom: -1px;
  display: flex;
  flex-flow: column wrap;
  height: 14rem;
  justify-content: space-between;
  align-items: flex-start;
  position: relative;
}
.list-cell.check-cell {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  height: 39px;
  width: auto;
  padding-bottom: 15px;
}
.list-cell {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.list-cell.hide-for-mobile {
  display: none;
}

.label {
	margin-top: 0;
	margin-bottom: 4px;
}

.label-with-info:nth-child(2) .info {
  margin-bottom: 0;
}

.info {
  margin-top: 14px;
  margin-bottom: 20px;
}

@media(max-width: 767px) {
  .floorplan-button.desktop {
    display: flex;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 15px;
    width: 85%;
  }
  .list-cell.check-cell .res {
    padding-left: 5px
  }
  .info {
    transform: translateY(-90%);
  }
}
@media(min-width: 768px) and (max-width: 1023px) {
  .floorplan-button.desktop {
    display: flex;
    position: absolute;
    left: 50%;
    transform: translateX(-60%);
    bottom: 15px;
    width: 70%;
  }
  .list-cell.check-cell .res {
    padding-left: 5px
  }
  .info {
    transform: translateY(-90%);
  }
}

.floorplan-button.active {
  background-color: #A1C6CF;
}

.mobile-padding {
  padding-left: 44px;
}
@media (max-width: 374px) {
  .mobile-padding {
    padding-left: 25px;
  }
}
@media (min-width: 1024px) {
  .mobile-padding {
    padding-left: 0;
  }

  .checkbox {
    padding-right: 20px;
  }

  .label {
    display: none;
  }

  .label, .info {
    text-align: center;
  }

  .list-row .list-row-wrapper {
    padding: 30px 0;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    height: auto;
    position: relative;
  }
  .list-row:first-child .list-row-wrapper {
    border-top: 0;
  }
  .list-cell-group {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
  }

  .list-cell, .list-cell.check-cell {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 15%;
  }

  .list-cell.check-cell {
    margin-bottom: 0;
    padding-bottom: 0;
  }

  .info {
    margin: 0;
  }
  
  .floorplan-button.desktop {
    display: flex;
  }
}

@media (min-width: 1366px) {
  .list-cell.hide-for-mobile {
    display: flex;
  }

  .hide-for-mobile {
    display: block;
  }

  /* .list-cell {
    width: 8rem;
  } */

  .floorplan-button {
    width: 9rem;
    height: 32px;
    padding: 6px 10px;
    padding-top: 9px;
  }
}

@media (min-width: 1920px) {
  .list-cell, .list-cell.check-cell {
    /* width: 13rem; */
    width: 11%;
  }
}
/* @media (min-width: 2048px) {
  .list-cell {
    width: 14rem;
  }
} */
