.hide-for-mobile {
  display: none;
}

.floorplan-button {
  height: 44px;
  padding: 15px 10px 10px 10px;
}
.floorplan-button.list-cell {
  align-items: center;
}

.list-row {
  padding: 30px 0;
  border-bottom: 1px solid #A1C6CF;
  display: flex;
  flex-flow: column wrap;
  height: 300px;
  justify-content: center;
}
.list-cell.check-cell {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  margin-bottom: 35px;
  height: 44px;
}
.list-cell {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.list-cell.hide-for-mobile {
  display: none;
}

.checkbox {
  padding-right: 0;
  height: 44px;
}

.label {
	margin-top: 0;
	margin-bottom: 4px;
}

.info {
  margin-top: 14px;
  margin-bottom: 35px;
}

.floorplan-button.desktop {
  display: none;
}
.floorplan-button.mobile {
  display: flex;
  margin-bottom: 35px;
  max-width: 200px;
}
.mobile-padding {
  padding-left: 44px;
}

@media (min-width: 1024px) {
  .mobile-padding {
    padding-left: 0;
  }

  .checkbox {
    padding-right: 20px;
  }

  .label {
    display: none;
  }

  .label, .info {
    text-align: center;
  }

  .list-row {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
    height: auto;
  }
  .list-cell {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    min-width: 80px;
  }
  .floorplan-button.desktop {
    display: flex;
  }
  .floorplan-button.mobile {
    display: none;
  }
}

@media (min-width: 1366px) {
  .list-cell.hide-for-mobile {
    display: flex;
  }

  .hide-for-mobile {
    display: block;
  }

  .floorplan-button {
    padding: 10px 5px 5px 5px;
  }
}
@media(min-width: 1920px) {
  .floorplan-button {
    padding: 15px 10px 10px 10px;
  }
}