<h2>Hello {%toname}</h2>
<p> {%fromname} has shared the following residences with you: <a href="{%url}" target="_blank">{%phrase}</a>!<p>
<p> Click on this link to see them <a href="{%url}" target="_blank">{%url}</a>.</p>
<p> For more information, or to register, go to <a href="https://108leonard.com/" target="_blank">https://108leonard.com/</a>.</p>
<br />
<p> Sincerely,</p>
<a href="https://108leonard.com/" target="_blank" style="text-decoration:none !important;">
    <h3> 108Leonard</h3>
</a>